

#register {
	margin-left:px;	
}
#register label{
	margin-right:5px;
}

#register lable.error,
 label.error {
	color: red;
	fond-style:bold;
}

div.error {
	display:none;
}

#register input {
	padding:5px 7px;
	box-shadow: 0 0 5px #e8e9eb inset;
	width: 321px;
	font-size:1em;
	outline:0;
}

#result{
	margin-left:5px;
}

#register .short{
	color:#FF0000;
}

#register .weak{
	color:#E66C2C;
}

#register .good{
	color:#2D98F3;
}

#register .strong{
	color:#006400;
}